/* client/src/index.css */
body {
  margin: 0;
  font-family: var(--font-body); /* Define a nova fonte padrão para o corpo do texto */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdfd;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title-serif); /* Define a nova fonte padrão para títulos */
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.script-title {
  font-family: var(--font-title-script);
  font-style: italic;
  font-weight: 400;
}
